<div id="<%= dom_id discussion %>">
  <p>
    <strong>Title:</strong>
    <%= discussion.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= discussion.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= discussion.user_id %>
  </p>

</div>
