<div id="<%= dom_id reply %>">
  <p>
    <strong>Reply:</strong>
    <%= reply.reply %>
  </p>

  <p>
    <strong>Discussion:</strong>
    <%= reply.discussion_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reply.user_id %>
  </p>

</div>
